{% extends 'invoice/base.html' %}

{% block content %}

{% if messages %}
  {% for message in messages %}
    <div class="shadow-lg p-3 m-5 md:w-1/2 mx-auto {% if message.tags == 'error' %} bg-red-200 text-red-800 {% elif message.tags == 'success' %} bg-green-200 text-green-800 {% endif %} rounded-lg">
      {{ message }}
    </div>
  {% endfor %}
{% endif %}

<!-- editing freelancer details -->
<div class="bg-gray-700 shadow-lg p-6 m-5 rounded-lg md:w-1/2 mx-auto">
  <h2 class="text-white text-2xl font-bold mb-4">Edit Freelancer Details?</h2>
  <form method="post" action="{% url 'invoice:settings' %}" class="space-y-4">
    {% csrf_token %}
    <div>
      <label for="username" class="block text-sm font-medium text-gray-700">Username:</label>
      <input type="text" id="username" name="username" value="{{ freelancer.user.username }}" readonly
        class="mt-1 p-2 border border-gray-300 rounded-md w-full" disabled>
    </div>

    <div>
      <label for="name" class="block text-sm font-medium text-gray-700">Name:</label>
      <input type="text" id="name" name="name" value="{{ freelancer.name }}"
        class="mt-1 p-2 border border-gray-300 rounded-md w-full">
    </div>

    <div>
      <label for="address" class="block text-sm font-medium text-gray-700">Address:</label>
      <input type="text" id="address" name="address" value="{{ freelancer.address }}"
        class="mt-1 p-2 border border-gray-300 rounded-md w-full">
    </div>

    <div>
      <label for="email" class="block text-sm font-medium text-gray-700">Email:</label>
      <input type="email" id="email" name="email" value="{{ freelancer.email }}"
        class="mt-1 p-2 border border-gray-300 rounded-md w-full">
    </div>

    <div>
      <label for="contact" class="block text-sm font-medium text-gray-700">Contact:</label>
      <input type="text" id="contact" name="contact" value="{{ freelancer.contact }}"
        class="mt-1 p-2 border border-gray-300 rounded-md w-full">
    </div>

    <div class="flex justify-around">
      <button type="submit"
      class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2">Update</button>
      <button
  class="reset-buttons px-4 py-2 bg-yellow-500 text-white rounded hover:bg-yellow-600 focus:outline-none focus:ring-2 focus:ring-yellow-600 focus:ring-offset-2">Reset Changes</button> 
    </div>
  </form>
   
</div>

<div class="shadow-lg p-3 m-5 md:flex justify-center gap-10">
    <h2 class="text-white text-2xl font-bold mb-4">Edit Login details?</h2>
    <form method="post" action="{% url 'users:change_username' %}" class="bg-gray-700 text-white p-3 m-3">
        {% csrf_token %}
        <label for="new_username" class="block m2">New Username:</label>
        <input type="text" id="new_username" name="new_username" value="{{ freelancer.user.username }}"
               class="block w-full px-4 py-2 border border-gray-300 text-black rounded-md m-3 mx-auto">

        <div class="block text-center">
          <button type="submit" class=" mx-auto block px-4 py-2 m-3 bg-blue-500 text-white rounded hover:bg-blue-600">Change Username</button>
          <button
          class="reset-buttons mx-auto px-4 py-2 m-3 bg-yellow-500 text-white rounded hover:bg-yellow-600 focus:outline-none focus:ring-2 focus:ring-yellow-600 focus:ring-offset-2">Reset Changes</button> 
        </div>
    </form>
    
    <form method="post" action="{% url 'users:change_password' %}" class="p-3 m-3 bg-gray-700 text-white">
        {% csrf_token %}
        <label for="current_password" class="block mb-2">Current Password:</label>
        <input type="password" id="current_password" name="current_password"
               class="block w-full px-4 py-2 border border-gray-300 rounded-md mb-2">
        <label for="new_password" class="block mb-2">New Password:</label>
        <input type="password" id="new_password" name="new_password"
               class="block w-full px-4 py-2 border border-gray-300 rounded-md mb-2">
        <div class="block text-center">
          <button type="submit" class="mx-auto block px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600">Change Password</button>
          <button
          class="reset-buttons mx-auto px-4 py-2 m-3 bg-yellow-500 text-white rounded hover:bg-yellow-600 focus:outline-none focus:ring-2 focus:ring-yellow-600 focus:ring-offset-2">Reset Changes</button> 
        </div>
    </form>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
      const resetButtons = document.querySelectorAll(".reset-buttons");

      resetButtons.forEach(function(button) {
          button.addEventListener("click", function() {
            event.preventDefault()
              const form = button.closest("form");
              if (form) {
                  form.reset();
              }
          });
      });
  });
</script>

{% endblock %}